body {
    background-color: #121212; /* Dark mode aesthetic */
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#nes-canvas {
    background-color: #000; /* Screen is black when off */
    width: 512px;           /* 2x scale width */
    height: 480px;          /* 2x scale height */
    image-rendering: pixelated; /* Keeps the 8-bit art sharp! */
    border: 4px solid #333;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}